
            /* Base layout styles */
            html, body {
                height: 100%;     /* Ensures full page height */
                margin: 0;        /* Removes any default margin */
                padding: 0;       /* Removes any default padding */
                width: 100%;      /* Ensures the body and html take the full width */
            }

            body {
                background-color: rgba(221, 221, 221, 0.3);
            }

            /* Typography styles */
            h1, h2, h3, h4, h5, h6 {
                font-family: 'Raleway', sans-serif;
            }

            body, p, li, span {
                font-family: 'Open Sans', sans-serif;
            }

            h1 {
                text-align: center;
            }

            /* Custom component styles */
            .black_text {
                background-color: black;
                color: white;
                padding: 3px;
            }

            .mycontainer {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                align-items: flex-start;
                gap: 60px;
            }

            .item {
                color: black;
                background-color: white;
                box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3); /* X, Y, Blur, Spread, Color */
            }

            .text_margin {
                margin-left: 25px;
            }

            p.footer_text{
                font-family: 'Raleway', sans-serif;
                font-size: 90%;
                margin-left: 15px;
            }

            section {
                width: 50%;  
                text-align: center;
            }

            aside {
                width: 35%;
            }
            a:link, a:visited {
                font-family: 'Raleway', sans-serif;
                font-size: 85%;
                margin-left: 25px;
                background-color: white;
                color: black;
                border: 2px solid rgb(119, 136, 153);
                padding: 5px 10px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
        }

            a:hover, a:active {
        
                background-color: rgb(119, 136, 153);
                color: white;
        }

            .mybutton {
                font-family: 'Raleway', sans-serif;
                font-size: 85%;
                background-color: white;
                color: black;
                border: 2px solid rgb(119, 136, 153);
                text-decoration: none;
                display: inline-block;
                cursor: pointer;
                margin-bottom: 30px; 
                padding: 5px 10px;
            }

            .mybutton:hover, .mybutton:active {
                background-color: rgb(119, 136, 153);
                color: white;
            }

            footer {
                background-color: rgba(100, 100, 100, 1);
                color: white;
                padding: 30px;
            }

            /* Media query for responsive design */
            @media (max-width: 768px) {
                .mycontainer {
                    gap: 40px;    
                }

                section {
                    width: 80%;
                }

                aside {
                    width: 80%;
                }
            }
   
